<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 부트스트랩 시작코드(수정) -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link
            href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
            rel="stylesheet"
    />

    <!--파일업로드 코드-->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <title>우리의 여행</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">

    <style>

        .intro {
            width: 900px;
            margin: auto;
            text-align: center;
            padding-top: 40px;
            font-size: 15px;
        }

        @media screen and (max-width: 900px) {}

        /* !!여기는 모바일 버전 css 끝!! */
    </style>
</head>

<body>
    <header class="wrap">
        <div class="sitetop" onclick="window.location.href='/cloud'">
            <h1 class="sitetitle">우리의 여행</h1>
        </div>
        <div class="topnav">
            <a href="/cloud">여행 키워드</a>
            <a href="/write">일기 쓰기</a>
            <a href="/">우리의 여행일기</a>
            <a class="active" href="/about">about</a>
        </div>
    </header>

    <div class="intro">
        <p style="font-size:30px">Hello we are<br></p>
        <img src="https://seen-botany-ce5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6f798e65-e7ab-4ef5-aae7-fc24a93209ee%2F%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2021-10-05_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_7.50.41.png?table=block&id=a33ef8b9-9702-49c2-af68-ad8c51574c36&spaceId=fa72b460-e2cb-4100-b7bd-2fb23615c3e9&width=870&userId=&cache=v2">
        <p>다시 없을 최강 조합으로 모인 우리는 'Coding Woman Fighter' 입니다! 🥊 <br>
            프론트엔드의 수진, 해인, 현 그리고 백엔드의 유정, 준희까지</p>
        <img src="https://seen-botany-ce5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7f6f95d2-56ed-42c0-b063-0c0e9ccaf203%2FUntitled.png?table=block&id=8766e46c-2847-4fb7-a3b3-c49e2ca1aa90&spaceId=fa72b460-e2cb-4100-b7bd-2fb23615c3e9&width=2000&userId=&cache=v2"
             width="400px"></p>

        <p>COVID-19로 인해 더더욱 간절해진 취미, 여행.<br>
            '우리의 여행'은 같은 여행지를 각양각색의 사람들이 여행하며 그리는 우리의 여행은 어떤 모습일까? 그 궁금증에서 시작된 프로젝트입니다.<br>
            여행을 떠난 곳에서 느낀 서로의 감상을 공유하고, 모두가 그 여행지에서 느낀 가장 강렬한 단어들을 모아 보여드립니다.</p><br>

        <p><h5>당신의 여행은 어땠나요?<br><br>
        우리의 여행은 어떤 모습일까요?</h5></p><br><br>
    </div>

    <footer class="wrap">
        <div class="footer">
            <p>made by 코우파<br>
                <a href="https://www.notion.so/c4d4062b9ee64ec7b7c14f301e2f6a45">우리의 여행</a></p>
        </div>
    </footer>
</body>

</html>